<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Добавить нового пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/admin.css') }}">
</head>
<body>
<div class="page-wrapper">
    <header>
        <h1>Информационно-справочная система</h1>
        <nav>
            <a href="{{ url_for('go_main') }}">Главная</a>
            <a href="{{ url_for('user.main') }}">Новостная лента</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
        </nav>
    </header>

    <div class="all-content">
    <div class="container">
        <main class="content add-user">

            <h1>Добавить профиль</h1>
            {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}

            <form action="{{ url_for('.add_user') }}" class="add-usr-form" method="POST">
                <!-- Имя пользователя -->
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username">

                <!-- Электронная почта -->
                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email">

                <!-- ФИО -->
                <label for="fio">ФИО:</label>
                <input type="text" id="fio" name="fio">

                <!-- Пароль -->
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password">

                <label for="phone">Телефон:</label>
                <input type="text" id="phone" name="phone_number"><br><br>

                <label for="date-birth">Дата рождения:</label>
                <input type="date" id="date-birth" name="date_of_birth"><br><br>

                <label for="role">Роль:</label>
                <select id="role" name="role_id" required>
                    <option value="2">Пользователь</option>
                    <option value="1">Администратор</option>
                    <option value="3">Модератор</option>
                </select>


                    <input type="submit" value="Добавить профиль" class="edit-usr-btn">

            </form>
        </main>
    </div>
    </div>

    <footer>
    <p>Предприятие | 2025</p>
    </footer>
</div>
</body>
</html>
