<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/admin.css') }}">
</head>
<body>
<div class="page-wrapper">
    <header>
        <h1>Информационно-справочная система</h1>
        <nav>
            <a href="{{ url_for('user.main') }}">Новостная лента</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
        </nav>
    </header>

    <div class="all-content">
    <div class="container">
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}

        <section class="admin-section">
            <h2>Управление постами</h2>
            <div class="post-actions">
            <div class="upr-post">
                <h2>Добавление нового поста</h2>
            <a href="{{ url_for('moderator.add_post') }}" class="btn">Перейти</a>
            </div>

            <div class="all-post">
            <h2>Просмотр всех постов</h2>
            <a href="{{ url_for('moderator.all_posts') }}" class="btn">Перейти</a>
            </div>
            </div>
        </section>
            <a href="{{ url_for('.posts_report') }}" class="btn" style="margin-bottom: 30px;">Скачать отчёт о постах (PDF)</a>

        <!-- Управление пользователями -->
        <section class="admin-section">
            <h2 style="margin-bottom: 30px;">Управление пользователями</h2>

            <a href="{{ url_for('.add_user') }}" class="btn">Добавить нового пользователя</a>


            <!-- Поле поиска пользователя -->
            <form action="{{ url_for('.admin_page') }}" class="search-form" method="GET">
                <input type="text" name="search" placeholder="Введите ФИО или логин">
                <button type="submit" class="btn">Найти 🔍</button>
            </form>

            {% if users %}
                <ul class="user-list">
                    {% for user in users %}
                        <li class="user-item">
                            <h4>{{ user.fio }} ({{ user.username }})</h4>
                            <p>Email: {{ user.email }}</p>
                            <div class="btn-container">
                                <a href="{{ url_for('.edit_user', user_id=user.id) }}" class="btn btn-edit">Редактировать</a>
                                <a href="{{ url_for('.delete_user', user_id=user.id) }}" class="btn btn-delete">Удалить</a>
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            {% elif search_query %}
                <p>Пользователь не найден.</p>
            {% endif %}
        </section>

            <a href="{{ url_for('.users_report') }}" class="btn" style="margin-bottom: 30px;">Скачать отчёт о пользователях (PDF)</a>


        <section class="admin-section">
            <h2 >Управление отпусками</h2><br>
            <h3>Заявки на отпуск</h3>
            <div class="vacation-container">
            <ul class="vacation-list">
            {% for vacation in vacation_user %}
                {% if not vacation.published %}
                    <li class="vacation-item">
                        <p>Начало: {{ vacation.startt.strftime('%d.%m.%Y') }}</p>
                        <p>Конец: {{ vacation.endd.strftime('%d.%m.%Y') }}</p>
                        <a href="{{ url_for('.accept_vacation', vacation_id=vacation.id) }}" class="btn vac-accept">Одобрить</a>
                        <a href="{{ url_for('.reject_vacation', vacation_id=vacation.id) }}" class="btn vac-reject">Отклонить</a>
                    </li>
                {% endif %}

            {% endfor %}
                {% if not vacation_user %}
                    <p style="font-size: 20px;">Заявки отсутствуют.</p>
                {% endif %}
            </ul>
                </div>
            <br>
            <a href="{{ url_for('.create_vacation') }}" class="btn vac-create">Создать новую заявку</a>
            <br><br>

            <h3>График отпусков</h3>

            <div class="calendar-container">
        <form action="{{ url_for('.admin_page') }}" method="get">
            <label for="year">Выберите год:</label>
            <select name="year" id="year">
                {% for y in available_years %}
                    <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>

            <label for="month">Выберите месяц:</label>
            <select name="month" id="month">
                {% for num, name in available_months %}
                    <option value="{{ num }}" {% if num == month %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn show-btn">Показать</button>
        </form>

        <h2>{{ months[month] }} {{ year }}</h2>


                    {% if vacations %}
                    <table>
                <thead>
                    <tr>
                        <th>ФИО сотрудника</th>
                        <th>Период отпуска</th>
                        <th>Длительность (дн.)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vac in vacations %}
                        {% for user in users_list_vac %}
                            {% if user.id == vac.user_id %}
                                <tr>
                                    {% if vac.published == 1 %}
                                        <td>{{ user.fio }}</td>
                                    {% else %}
                                        <td>{{ user.fio }} (заявка не одобрена)</td>
                                    {% endif %}
                                    <td>{{ vac.startt.strftime('%d.%m.%Y') }} - {{ vac.endd.strftime('%d.%m.%Y') }}</td>
                                    <td>{{ (vac.endd.date() - vac.startt.date()).days + 1 }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </tbody>
            </table>
                    {% else %}
                        <p style="font-size: 30px;">За данный период отпусков нет.</p>
                            {% endif %}

    </div>

            <a href="{{ url_for('.vacations_report') }}"  class="btn">Скачать отчёт об отпусках (PDF)</a>
        </section>
    </div>
    </div>

    <footer>
    <p>Предприятие | 2025</p>
    </footer>
</div>
</body>
</html>
